.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

div img {
  width: 40vw;
  height: 50vh;
  margin-bottom: 0.8em;
}

.prevButton {
  margin-right: 8em;
}

.nextButton {
  margin-left: 8em;
}

.App-Slider {
  height: 50vh;
}

img {
  margin-top: 2em;
}

.logo{
  font-size: 2rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: orange;
}
